@import 'variables.scss';

.dark {
	background-color: $fondoDark;
	color: $colorparrafoDark;

	@for $i from 1 to 6 {
		h#{$i} {
			color: $colortitulosDark;
		}
	}

	a {
		color: $colorlinksDark;
	}

	.btn {
		color: $colorbotonDark;
		background-color: $fondobotonDark;

		&:hover {
			box-shadow: none;
			background-color: rgba($fondobotonDark, 0.5);
		}
	}

	.nav {
		background-color: $fondocardDark;
		color: $colorparrafoDark;

		.sidenav {
			background-color: $fondocardDark;
		}

		a.logo {
			color: $colortitulosDark;
		}

		.logo {
			color: $colortitulosDark;
		}
	}

	.card {
		background-color: $fondocardDark;
		color: $colorparrafoDark;

		&:hover {
			box-shadow: 0px 5px 10px $sombraDark;
		}
	}

	.input {
		background-color: $fondocardDark;
		color: $colorparrafoDark;
		box-shadow: 0 0px 2px rgb(255, 255, 255);

		input {
			background-color: $fondocardDark;
			color: $colorparrafoDark;
		}
	}

	.footer {
		border-top: 1px solid $fondobotonDark;
		background-color: $fondocardDark;
	}

	.bar {
		border-top: 1px solid $colorparrafoDark;
	}
}

.fondo .contenido .trabajo {
	color: $colorparrafoDark;
}

@media screen and (min-width: 992px) {
	.dark {
		.card {
			.contenido {
				background-color: rgba($fondocardDark, 0.7);
			}
		}
	}
}
