@import './variables.scss';

.nav {
	position: fixed;
	width: 100%;
	height: $tamanioheader;
	top: 0;
	left: 0;
	background-color: $fondo;
	color: $colortitulos;
	z-index: 1;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s;
	box-shadow: 0px 0px 2px $sombra;

	.logo {
		z-index: 1;
		font-size: 30px;
		cursor: pointer;
		transition: all 0.4s;
		font-family: Fira Sans;
		font-weight: bold;

		&:hover {
			color: $colorlinks;
		}
	}

	a.logo {
		&:hover {
			transform: none;
			color: $colortitulos;
		}
	}

	a {
		color: $colortitulos;
		text-decoration: none;
		transition: all ease-in-out 0.5s;

		&:hover {
			color: $colorlinks;
			text-decoration: none;
		}
	}

	.btn-menu {
		height: $tamanioheader;
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin: 0px 16px;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.tema {
		height: $tamanioheader;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin: 0px 16px;
		top: 0;
		right: 0;
	}

	.material-icons {
		font-size: 2rem;
		transition: all 0.4s;

		&:hover {
			color: $colorlinks;
		}
	}

	.sidenav {
		position: absolute;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		background-color: $fondo;
		top: 0;
		right: -100%;
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		transition: all 0.4s;

		.social {
			position: absolute;
			bottom: 0;
			margin: $tamanioheader 0px;
		}

		.item {
			margin: 10px 1rem;
		}

		&.open {
			transform: translateX(-100%);
		}
	}
}

@media screen and (max-width: 991px) {
	.nav {
		.hide {
			display: none;
		}

		a {
			font-size: 1.8rem;
		}

		.btn-menu {
			display: flex;
		}

		.sidenav {
			.item:first-child {
				margin-top: $tamanioheader;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.nav {
		justify-content: space-between;

		a {
			&:hover {
				transform: scale(1.2);
			}
		}

		.logo {
			margin: 0px 1rem;
		}

		.sidenav {
			position: relative;
			left: 0;
			margin: 0px 3.5rem;
			height: $tamanioheader;
			flex-direction: row;
			align-items: center;
			width: auto;
			padding-top: 0;

			.item.espacioHeader {
				margin-top: 10px;
			}

			.social {
				display: none;
			}

			&.open {
				transform: none;
			}
		}
	}
}
