@import './normalize.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Karla:wght@200&family=Roboto:wght@300&display=swap');
@import './dark.scss';
@import './header.scss';
@import './footer.scss';

$tamanioTitulo: 40px;

html {
	scroll-behavior: smooth;
}

html,
body {
	background-color: $fondo;
	color: $colorparrafo;
	padding: 0;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
		Droid Sans, Helvetica Neue, sans-serif;
	transition: all 0.4s;
	font-size: 14px;
}

body {
	padding: 0px;
	font-size: 1.1rem;
}

@for $i from 1 to 4 {
	h#{$i} {
		font-size: $tamanioTitulo;
		font-family: Fira Sans;
		font-weight: bold;
		color: $colortitulos;
		margin: 5px 0rem 1.5rem 0px;
		transition: all 0.4s ease-in-out;
	}

	$tamanioTitulo: $tamanioTitulo - 5;
}

a {
	color: $colorlinks;
}

small {
	font-size: 12px;
}

.round {
	border-radius: 1rem;
}

.hide {
	display: none;
}

.click {
	cursor: pointer;
}

.orange {
	color: $fondobotonDark;
}

.center {
	text-align: center;
}

.input {
	background-color: $fondocard;
	overflow: hidden;
	transition: all 0.5s;
	box-shadow: 0 0px 2px $sombra;
	padding: 8px;
	display: flex;
	flex-direction: column;
	margin-top: 15px;

	label {
		margin-bottom: 10px;
	}

	input {
		border: none;
		transition: all 0.5s ease-in-out;
	}
}

.btn {
	margin-top: 12px;
	width: 100%;
	background-color: $fondoboton;
	color: $colorboton;
	border: none;
	padding: 0.5rem;
	transition: all 0.4s;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.2rem;

	&:hover {
		background-color: rgba($fondoboton, 0.5);
	}

	&:active {
		transform: scale(0.8);
		box-shadow: 0 2px 5px $sombra;
	}
}

.card {
	background-color: $fondocard;
	overflow: hidden;
	transition: all 0.5s;
	box-shadow: 0 0px 2px $sombra;
	padding: 10px 12px;
}

.resultado {
	margin-top: 2rem;

	div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
}

.contenido {
	margin: ($tamanioheader + 10px) 5% 0 5%;
}

article {
	margin-top: 2rem;
}
