$tamanioheader: 60px;

$fondo: #eff0f3;
$colorparrafo: #2a2a2a;
$colortitulos: #0d0d0d;
$colorboton: #0d0d0d;
$fondoboton: #ff8e3c;
$fondocard: #fefefe;
$colorlinks: #ff9000;

$sombra: rgb(128, 126, 121);
$sombraDark: rgb(61, 60, 59);

$fondoDark: #0f0e17;
$colorparrafoDark: #a7a9be;
$colortitulosDark: #fffffe;
$colorbotonDark: #fffffe;
$fondobotonDark: #ff8906;
$fondocardDark: #151420;
$colorlinksDark: #ff8906;
